<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>category</key>
		<string>推荐分类</string>
		<key>content</key>
		<array>
			<dict>
				<key>category</key>
				<string>常用分类</string>
				<key>content</key>
				<array>
					<dict>
						<key>title</key>
						<string>平板电视</string>
						<key>image</key>
						<string>category_000</string>
						<key>id</key>
						<string>000</string>
					</dict>
					<dict>
						<key>title</key>
						<string>手动工具</string>
						<key>image</key>
						<string>category_001</string>
						<key>id</key>
						<string>001</string>
					</dict>
					<dict>
						<key>title</key>
						<string>智能手机</string>
						<key>image</key>
						<string>category_002</string>
						<key>id</key>
						<string>002</string>
					</dict>
					<dict>
						<key>title</key>
						<string>插座</string>
						<key>image</key>
						<string>category_003</string>
						<key>id</key>
						<string>003</string>
					</dict>
					<dict>
						<key>title</key>
						<string>衣物洗洁</string>
						<key>image</key>
						<string>category_004</string>
						<key>id</key>
						<string>004</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>category</key>
				<string>热门分类</string>
				<key>content</key>
				<array>
					<dict>
						<key>title</key>
						<string>平板电脑</string>
						<key>image</key>
						<string>category_010</string>
						<key>id</key>
						<string>010</string>
					</dict>
					<dict>
						<key>title</key>
						<string>游戏本</string>
						<key>image</key>
						<string>category_011</string>
						<key>id</key>
						<string>011</string>
					</dict>
					<dict>
						<key>title</key>
						<string>耳机耳麦</string>
						<key>image</key>
						<string>category_012</string>
						<key>id</key>
						<string>012</string>
					</dict>
					<dict>
						<key>title</key>
						<string>手机</string>
						<key>image</key>
						<string>category_013</string>
						<key>id</key>
						<string>013</string>
					</dict>
					<dict>
						<key>title</key>
						<string>连衣裙</string>
						<key>image</key>
						<string>category_014</string>
						<key>id</key>
						<string>014</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>category</key>
				<string>最新分类</string>
				<key>content</key>
				<array>
					<dict>
						<key>title</key>
						<string>苹果配件</string>
						<key>image</key>
						<string>category_020</string>
						<key>id</key>
						<string>020</string>
					</dict>
					<dict>
						<key>title</key>
						<string>数码相框</string>
						<key>image</key>
						<string>category_021</string>
						<key>id</key>
						<string>021</string>
					</dict>
					<dict>
						<key>title</key>
						<string>智能手环</string>
						<key>image</key>
						<string>category_022</string>
						<key>id</key>
						<string>022</string>
					</dict>
					<dict>
						<key>title</key>
						<string>无人机</string>
						<key>image</key>
						<string>category_023</string>
						<key>id</key>
						<string>023</string>
					</dict>
					<dict>
						<key>title</key>
						<string>存储卡</string>
						<key>image</key>
						<string>category_024</string>
						<key>id</key>
						<string>024</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>电脑办公</string>
		<key>content</key>
		<array>
			<dict>
				<key>category</key>
				<string>常用分类</string>
				<key>content</key>
				<array>
					<dict>
						<key>title</key>
						<string>平板电视</string>
						<key>image</key>
						<string>category_000</string>
						<key>id</key>
						<string>000</string>
					</dict>
					<dict>
						<key>title</key>
						<string>手动工具</string>
						<key>image</key>
						<string>category_001</string>
						<key>id</key>
						<string>001</string>
					</dict>
					<dict>
						<key>title</key>
						<string>智能手机</string>
						<key>image</key>
						<string>category_002</string>
						<key>id</key>
						<string>002</string>
					</dict>
					<dict>
						<key>title</key>
						<string>插座</string>
						<key>image</key>
						<string>category_003</string>
						<key>id</key>
						<string>003</string>
					</dict>
					<dict>
						<key>title</key>
						<string>衣物洗洁</string>
						<key>image</key>
						<string>category_004</string>
						<key>id</key>
						<string>004</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>category</key>
				<string>热门分类</string>
				<key>content</key>
				<array>
					<dict>
						<key>title</key>
						<string>平板电脑</string>
						<key>image</key>
						<string>category_010</string>
						<key>id</key>
						<string>010</string>
					</dict>
					<dict>
						<key>title</key>
						<string>游戏本</string>
						<key>image</key>
						<string>category_011</string>
						<key>id</key>
						<string>011</string>
					</dict>
					<dict>
						<key>title</key>
						<string>耳机耳麦</string>
						<key>image</key>
						<string>category_012</string>
						<key>id</key>
						<string>012</string>
					</dict>
					<dict>
						<key>title</key>
						<string>手机</string>
						<key>image</key>
						<string>category_013</string>
						<key>id</key>
						<string>013</string>
					</dict>
					<dict>
						<key>title</key>
						<string>连衣裙</string>
						<key>image</key>
						<string>category_014</string>
						<key>id</key>
						<string>014</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>category</key>
				<string>最新分类</string>
				<key>content</key>
				<array>
					<dict>
						<key>title</key>
						<string>苹果配件</string>
						<key>image</key>
						<string>category_020</string>
						<key>id</key>
						<string>020</string>
					</dict>
					<dict>
						<key>title</key>
						<string>数码相框</string>
						<key>image</key>
						<string>category_021</string>
						<key>id</key>
						<string>021</string>
					</dict>
					<dict>
						<key>title</key>
						<string>智能手环</string>
						<key>image</key>
						<string>category_022</string>
						<key>id</key>
						<string>022</string>
					</dict>
					<dict>
						<key>title</key>
						<string>无人机</string>
						<key>image</key>
						<string>category_023</string>
						<key>id</key>
						<string>023</string>
					</dict>
					<dict>
						<key>title</key>
						<string>存储卡</string>
						<key>image</key>
						<string>category_024</string>
						<key>id</key>
						<string>024</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>数码家电</string>
		<key>content</key>
		<array>
			<dict>
				<key>category</key>
				<string>常用分类</string>
				<key>content</key>
				<array>
					<dict>
						<key>title</key>
						<string>平板电视</string>
						<key>image</key>
						<string>category_000</string>
						<key>id</key>
						<string>000</string>
					</dict>
					<dict>
						<key>title</key>
						<string>手动工具</string>
						<key>image</key>
						<string>category_001</string>
						<key>id</key>
						<string>001</string>
					</dict>
					<dict>
						<key>title</key>
						<string>智能手机</string>
						<key>image</key>
						<string>category_002</string>
						<key>id</key>
						<string>002</string>
					</dict>
					<dict>
						<key>title</key>
						<string>插座</string>
						<key>image</key>
						<string>category_003</string>
						<key>id</key>
						<string>003</string>
					</dict>
					<dict>
						<key>title</key>
						<string>衣物洗洁</string>
						<key>image</key>
						<string>category_004</string>
						<key>id</key>
						<string>004</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>category</key>
				<string>热门分类</string>
				<key>content</key>
				<array>
					<dict>
						<key>title</key>
						<string>平板电脑</string>
						<key>image</key>
						<string>category_010</string>
						<key>id</key>
						<string>010</string>
					</dict>
					<dict>
						<key>title</key>
						<string>游戏本</string>
						<key>image</key>
						<string>category_011</string>
						<key>id</key>
						<string>011</string>
					</dict>
					<dict>
						<key>title</key>
						<string>耳机耳麦</string>
						<key>image</key>
						<string>category_012</string>
						<key>id</key>
						<string>012</string>
					</dict>
					<dict>
						<key>title</key>
						<string>手机</string>
						<key>image</key>
						<string>category_013</string>
						<key>id</key>
						<string>013</string>
					</dict>
					<dict>
						<key>title</key>
						<string>连衣裙</string>
						<key>image</key>
						<string>category_014</string>
						<key>id</key>
						<string>014</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>category</key>
				<string>最新分类</string>
				<key>content</key>
				<array>
					<dict>
						<key>title</key>
						<string>苹果配件</string>
						<key>image</key>
						<string>category_020</string>
						<key>id</key>
						<string>020</string>
					</dict>
					<dict>
						<key>title</key>
						<string>数码相框</string>
						<key>image</key>
						<string>category_021</string>
						<key>id</key>
						<string>021</string>
					</dict>
					<dict>
						<key>title</key>
						<string>智能手环</string>
						<key>image</key>
						<string>category_022</string>
						<key>id</key>
						<string>022</string>
					</dict>
					<dict>
						<key>title</key>
						<string>无人机</string>
						<key>image</key>
						<string>category_023</string>
						<key>id</key>
						<string>023</string>
					</dict>
					<dict>
						<key>title</key>
						<string>存储卡</string>
						<key>image</key>
						<string>category_024</string>
						<key>id</key>
						<string>024</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>品牌男装</string>
		<key>content</key>
		<array>
			<dict>
				<key>category</key>
				<string>常用分类</string>
				<key>content</key>
				<array>
					<dict>
						<key>title</key>
						<string>平板电视</string>
						<key>image</key>
						<string>category_000</string>
						<key>id</key>
						<string>000</string>
					</dict>
					<dict>
						<key>title</key>
						<string>手动工具</string>
						<key>image</key>
						<string>category_001</string>
						<key>id</key>
						<string>001</string>
					</dict>
					<dict>
						<key>title</key>
						<string>智能手机</string>
						<key>image</key>
						<string>category_002</string>
						<key>id</key>
						<string>002</string>
					</dict>
					<dict>
						<key>title</key>
						<string>插座</string>
						<key>image</key>
						<string>category_003</string>
						<key>id</key>
						<string>003</string>
					</dict>
					<dict>
						<key>title</key>
						<string>衣物洗洁</string>
						<key>image</key>
						<string>category_004</string>
						<key>id</key>
						<string>004</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>category</key>
				<string>热门分类</string>
				<key>content</key>
				<array>
					<dict>
						<key>title</key>
						<string>平板电脑</string>
						<key>image</key>
						<string>category_010</string>
						<key>id</key>
						<string>010</string>
					</dict>
					<dict>
						<key>title</key>
						<string>游戏本</string>
						<key>image</key>
						<string>category_011</string>
						<key>id</key>
						<string>011</string>
					</dict>
					<dict>
						<key>title</key>
						<string>耳机耳麦</string>
						<key>image</key>
						<string>category_012</string>
						<key>id</key>
						<string>012</string>
					</dict>
					<dict>
						<key>title</key>
						<string>手机</string>
						<key>image</key>
						<string>category_013</string>
						<key>id</key>
						<string>013</string>
					</dict>
					<dict>
						<key>title</key>
						<string>连衣裙</string>
						<key>image</key>
						<string>category_014</string>
						<key>id</key>
						<string>014</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>潮流女装</string>
		<key>content</key>
		<array>
			<dict>
				<key>category</key>
				<string>常用分类</string>
				<key>content</key>
				<array>
					<dict>
						<key>title</key>
						<string>平板电视</string>
						<key>image</key>
						<string>category_000</string>
						<key>id</key>
						<string>000</string>
					</dict>
					<dict>
						<key>title</key>
						<string>手动工具</string>
						<key>image</key>
						<string>category_001</string>
						<key>id</key>
						<string>001</string>
					</dict>
					<dict>
						<key>title</key>
						<string>智能手机</string>
						<key>image</key>
						<string>category_002</string>
						<key>id</key>
						<string>002</string>
					</dict>
					<dict>
						<key>title</key>
						<string>插座</string>
						<key>image</key>
						<string>category_003</string>
						<key>id</key>
						<string>003</string>
					</dict>
					<dict>
						<key>title</key>
						<string>衣物洗洁</string>
						<key>image</key>
						<string>category_004</string>
						<key>id</key>
						<string>004</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>category</key>
				<string>热门分类</string>
				<key>content</key>
				<array>
					<dict>
						<key>title</key>
						<string>平板电脑</string>
						<key>image</key>
						<string>category_010</string>
						<key>id</key>
						<string>010</string>
					</dict>
					<dict>
						<key>title</key>
						<string>游戏本</string>
						<key>image</key>
						<string>category_011</string>
						<key>id</key>
						<string>011</string>
					</dict>
					<dict>
						<key>title</key>
						<string>耳机耳麦</string>
						<key>image</key>
						<string>category_012</string>
						<key>id</key>
						<string>012</string>
					</dict>
					<dict>
						<key>title</key>
						<string>手机</string>
						<key>image</key>
						<string>category_013</string>
						<key>id</key>
						<string>013</string>
					</dict>
					<dict>
						<key>title</key>
						<string>连衣裙</string>
						<key>image</key>
						<string>category_014</string>
						<key>id</key>
						<string>014</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>category</key>
				<string>最新分类</string>
				<key>content</key>
				<array>
					<dict>
						<key>title</key>
						<string>苹果配件</string>
						<key>image</key>
						<string>category_020</string>
						<key>id</key>
						<string>020</string>
					</dict>
					<dict>
						<key>title</key>
						<string>数码相框</string>
						<key>image</key>
						<string>category_021</string>
						<key>id</key>
						<string>021</string>
					</dict>
					<dict>
						<key>title</key>
						<string>智能手环</string>
						<key>image</key>
						<string>category_022</string>
						<key>id</key>
						<string>022</string>
					</dict>
					<dict>
						<key>title</key>
						<string>无人机</string>
						<key>image</key>
						<string>category_023</string>
						<key>id</key>
						<string>023</string>
					</dict>
					<dict>
						<key>title</key>
						<string>存储卡</string>
						<key>image</key>
						<string>category_024</string>
						<key>id</key>
						<string>024</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>家具建材</string>
		<key>content</key>
		<array>
			<dict>
				<key>category</key>
				<string>常用分类</string>
				<key>content</key>
				<array>
					<dict>
						<key>title</key>
						<string>平板电视</string>
						<key>image</key>
						<string>category_000</string>
						<key>id</key>
						<string>000</string>
					</dict>
					<dict>
						<key>title</key>
						<string>手动工具</string>
						<key>image</key>
						<string>category_001</string>
						<key>id</key>
						<string>001</string>
					</dict>
					<dict>
						<key>title</key>
						<string>智能手机</string>
						<key>image</key>
						<string>category_002</string>
						<key>id</key>
						<string>002</string>
					</dict>
					<dict>
						<key>title</key>
						<string>插座</string>
						<key>image</key>
						<string>category_003</string>
						<key>id</key>
						<string>003</string>
					</dict>
					<dict>
						<key>title</key>
						<string>衣物洗洁</string>
						<key>image</key>
						<string>category_004</string>
						<key>id</key>
						<string>004</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>category</key>
				<string>热门分类</string>
				<key>content</key>
				<array>
					<dict>
						<key>title</key>
						<string>平板电脑</string>
						<key>image</key>
						<string>category_010</string>
						<key>id</key>
						<string>010</string>
					</dict>
					<dict>
						<key>title</key>
						<string>游戏本</string>
						<key>image</key>
						<string>category_011</string>
						<key>id</key>
						<string>011</string>
					</dict>
					<dict>
						<key>title</key>
						<string>耳机耳麦</string>
						<key>image</key>
						<string>category_012</string>
						<key>id</key>
						<string>012</string>
					</dict>
					<dict>
						<key>title</key>
						<string>手机</string>
						<key>image</key>
						<string>category_013</string>
						<key>id</key>
						<string>013</string>
					</dict>
					<dict>
						<key>title</key>
						<string>连衣裙</string>
						<key>image</key>
						<string>category_014</string>
						<key>id</key>
						<string>014</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>category</key>
				<string>最新分类</string>
				<key>content</key>
				<array>
					<dict>
						<key>title</key>
						<string>苹果配件</string>
						<key>image</key>
						<string>category_020</string>
						<key>id</key>
						<string>020</string>
					</dict>
					<dict>
						<key>title</key>
						<string>数码相框</string>
						<key>image</key>
						<string>category_021</string>
						<key>id</key>
						<string>021</string>
					</dict>
					<dict>
						<key>title</key>
						<string>智能手环</string>
						<key>image</key>
						<string>category_022</string>
						<key>id</key>
						<string>022</string>
					</dict>
					<dict>
						<key>title</key>
						<string>无人机</string>
						<key>image</key>
						<string>category_023</string>
						<key>id</key>
						<string>023</string>
					</dict>
					<dict>
						<key>title</key>
						<string>存储卡</string>
						<key>image</key>
						<string>category_024</string>
						<key>id</key>
						<string>024</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>居家生活</string>
		<key>content</key>
		<array>
			<dict>
				<key>category</key>
				<string>常用分类</string>
				<key>content</key>
				<array>
					<dict>
						<key>title</key>
						<string>平板电视</string>
						<key>image</key>
						<string>category_000</string>
						<key>id</key>
						<string>000</string>
					</dict>
					<dict>
						<key>title</key>
						<string>手动工具</string>
						<key>image</key>
						<string>category_001</string>
						<key>id</key>
						<string>001</string>
					</dict>
					<dict>
						<key>title</key>
						<string>智能手机</string>
						<key>image</key>
						<string>category_002</string>
						<key>id</key>
						<string>002</string>
					</dict>
					<dict>
						<key>title</key>
						<string>插座</string>
						<key>image</key>
						<string>category_003</string>
						<key>id</key>
						<string>003</string>
					</dict>
					<dict>
						<key>title</key>
						<string>衣物洗洁</string>
						<key>image</key>
						<string>category_004</string>
						<key>id</key>
						<string>004</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>category</key>
				<string>热门分类</string>
				<key>content</key>
				<array>
					<dict>
						<key>title</key>
						<string>平板电脑</string>
						<key>image</key>
						<string>category_010</string>
						<key>id</key>
						<string>010</string>
					</dict>
					<dict>
						<key>title</key>
						<string>游戏本</string>
						<key>image</key>
						<string>category_011</string>
						<key>id</key>
						<string>011</string>
					</dict>
					<dict>
						<key>title</key>
						<string>耳机耳麦</string>
						<key>image</key>
						<string>category_012</string>
						<key>id</key>
						<string>012</string>
					</dict>
					<dict>
						<key>title</key>
						<string>手机</string>
						<key>image</key>
						<string>category_013</string>
						<key>id</key>
						<string>013</string>
					</dict>
					<dict>
						<key>title</key>
						<string>连衣裙</string>
						<key>image</key>
						<string>category_014</string>
						<key>id</key>
						<string>014</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>category</key>
				<string>最新分类</string>
				<key>content</key>
				<array>
					<dict>
						<key>title</key>
						<string>苹果配件</string>
						<key>image</key>
						<string>category_020</string>
						<key>id</key>
						<string>020</string>
					</dict>
					<dict>
						<key>title</key>
						<string>数码相框</string>
						<key>image</key>
						<string>category_021</string>
						<key>id</key>
						<string>021</string>
					</dict>
					<dict>
						<key>title</key>
						<string>智能手环</string>
						<key>image</key>
						<string>category_022</string>
						<key>id</key>
						<string>022</string>
					</dict>
					<dict>
						<key>title</key>
						<string>无人机</string>
						<key>image</key>
						<string>category_023</string>
						<key>id</key>
						<string>023</string>
					</dict>
					<dict>
						<key>title</key>
						<string>存储卡</string>
						<key>image</key>
						<string>category_024</string>
						<key>id</key>
						<string>024</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>食品生鲜</string>
		<key>content</key>
		<array>
			<dict>
				<key>category</key>
				<string>常用分类</string>
				<key>content</key>
				<array>
					<dict>
						<key>title</key>
						<string>平板电视</string>
						<key>image</key>
						<string>category_000</string>
						<key>id</key>
						<string>000</string>
					</dict>
					<dict>
						<key>title</key>
						<string>手动工具</string>
						<key>image</key>
						<string>category_001</string>
						<key>id</key>
						<string>001</string>
					</dict>
					<dict>
						<key>title</key>
						<string>智能手机</string>
						<key>image</key>
						<string>category_002</string>
						<key>id</key>
						<string>002</string>
					</dict>
					<dict>
						<key>title</key>
						<string>插座</string>
						<key>image</key>
						<string>category_003</string>
						<key>id</key>
						<string>003</string>
					</dict>
					<dict>
						<key>title</key>
						<string>衣物洗洁</string>
						<key>image</key>
						<string>category_004</string>
						<key>id</key>
						<string>004</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>category</key>
				<string>热门分类</string>
				<key>content</key>
				<array>
					<dict>
						<key>title</key>
						<string>平板电脑</string>
						<key>image</key>
						<string>category_010</string>
						<key>id</key>
						<string>010</string>
					</dict>
					<dict>
						<key>title</key>
						<string>游戏本</string>
						<key>image</key>
						<string>category_011</string>
						<key>id</key>
						<string>011</string>
					</dict>
					<dict>
						<key>title</key>
						<string>耳机耳麦</string>
						<key>image</key>
						<string>category_012</string>
						<key>id</key>
						<string>012</string>
					</dict>
					<dict>
						<key>title</key>
						<string>手机</string>
						<key>image</key>
						<string>category_013</string>
						<key>id</key>
						<string>013</string>
					</dict>
					<dict>
						<key>title</key>
						<string>连衣裙</string>
						<key>image</key>
						<string>category_014</string>
						<key>id</key>
						<string>014</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>category</key>
				<string>最新分类</string>
				<key>content</key>
				<array>
					<dict>
						<key>title</key>
						<string>苹果配件</string>
						<key>image</key>
						<string>category_020</string>
						<key>id</key>
						<string>020</string>
					</dict>
					<dict>
						<key>title</key>
						<string>数码相框</string>
						<key>image</key>
						<string>category_021</string>
						<key>id</key>
						<string>021</string>
					</dict>
					<dict>
						<key>title</key>
						<string>智能手环</string>
						<key>image</key>
						<string>category_022</string>
						<key>id</key>
						<string>022</string>
					</dict>
					<dict>
						<key>title</key>
						<string>无人机</string>
						<key>image</key>
						<string>category_023</string>
						<key>id</key>
						<string>023</string>
					</dict>
					<dict>
						<key>title</key>
						<string>存储卡</string>
						<key>image</key>
						<string>category_024</string>
						<key>id</key>
						<string>024</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>运动户外</string>
		<key>content</key>
		<array>
			<dict>
				<key>category</key>
				<string>常用分类</string>
				<key>content</key>
				<array>
					<dict>
						<key>title</key>
						<string>平板电视</string>
						<key>image</key>
						<string>category_000</string>
						<key>id</key>
						<string>000</string>
					</dict>
					<dict>
						<key>title</key>
						<string>手动工具</string>
						<key>image</key>
						<string>category_001</string>
						<key>id</key>
						<string>001</string>
					</dict>
					<dict>
						<key>title</key>
						<string>智能手机</string>
						<key>image</key>
						<string>category_002</string>
						<key>id</key>
						<string>002</string>
					</dict>
					<dict>
						<key>title</key>
						<string>插座</string>
						<key>image</key>
						<string>category_003</string>
						<key>id</key>
						<string>003</string>
					</dict>
					<dict>
						<key>title</key>
						<string>衣物洗洁</string>
						<key>image</key>
						<string>category_004</string>
						<key>id</key>
						<string>004</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>category</key>
				<string>热门分类</string>
				<key>content</key>
				<array>
					<dict>
						<key>title</key>
						<string>平板电脑</string>
						<key>image</key>
						<string>category_010</string>
						<key>id</key>
						<string>010</string>
					</dict>
					<dict>
						<key>title</key>
						<string>游戏本</string>
						<key>image</key>
						<string>category_011</string>
						<key>id</key>
						<string>011</string>
					</dict>
					<dict>
						<key>title</key>
						<string>耳机耳麦</string>
						<key>image</key>
						<string>category_012</string>
						<key>id</key>
						<string>012</string>
					</dict>
					<dict>
						<key>title</key>
						<string>手机</string>
						<key>image</key>
						<string>category_013</string>
						<key>id</key>
						<string>013</string>
					</dict>
					<dict>
						<key>title</key>
						<string>连衣裙</string>
						<key>image</key>
						<string>category_014</string>
						<key>id</key>
						<string>014</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>category</key>
				<string>最新分类</string>
				<key>content</key>
				<array>
					<dict>
						<key>title</key>
						<string>苹果配件</string>
						<key>image</key>
						<string>category_020</string>
						<key>id</key>
						<string>020</string>
					</dict>
					<dict>
						<key>title</key>
						<string>数码相框</string>
						<key>image</key>
						<string>category_021</string>
						<key>id</key>
						<string>021</string>
					</dict>
					<dict>
						<key>title</key>
						<string>智能手环</string>
						<key>image</key>
						<string>category_022</string>
						<key>id</key>
						<string>022</string>
					</dict>
					<dict>
						<key>title</key>
						<string>无人机</string>
						<key>image</key>
						<string>category_023</string>
						<key>id</key>
						<string>023</string>
					</dict>
					<dict>
						<key>title</key>
						<string>存储卡</string>
						<key>image</key>
						<string>category_024</string>
						<key>id</key>
						<string>024</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>个护化妆</string>
		<key>content</key>
		<array>
			<dict>
				<key>category</key>
				<string>常用分类</string>
				<key>content</key>
				<array>
					<dict>
						<key>title</key>
						<string>平板电视</string>
						<key>image</key>
						<string>category_000</string>
						<key>id</key>
						<string>000</string>
					</dict>
					<dict>
						<key>title</key>
						<string>手动工具</string>
						<key>image</key>
						<string>category_001</string>
						<key>id</key>
						<string>001</string>
					</dict>
					<dict>
						<key>title</key>
						<string>智能手机</string>
						<key>image</key>
						<string>category_002</string>
						<key>id</key>
						<string>002</string>
					</dict>
					<dict>
						<key>title</key>
						<string>插座</string>
						<key>image</key>
						<string>category_003</string>
						<key>id</key>
						<string>003</string>
					</dict>
					<dict>
						<key>title</key>
						<string>衣物洗洁</string>
						<key>image</key>
						<string>category_004</string>
						<key>id</key>
						<string>004</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>category</key>
				<string>热门分类</string>
				<key>content</key>
				<array>
					<dict>
						<key>title</key>
						<string>平板电脑</string>
						<key>image</key>
						<string>category_010</string>
						<key>id</key>
						<string>010</string>
					</dict>
					<dict>
						<key>title</key>
						<string>游戏本</string>
						<key>image</key>
						<string>category_011</string>
						<key>id</key>
						<string>011</string>
					</dict>
					<dict>
						<key>title</key>
						<string>耳机耳麦</string>
						<key>image</key>
						<string>category_012</string>
						<key>id</key>
						<string>012</string>
					</dict>
					<dict>
						<key>title</key>
						<string>手机</string>
						<key>image</key>
						<string>category_013</string>
						<key>id</key>
						<string>013</string>
					</dict>
					<dict>
						<key>title</key>
						<string>连衣裙</string>
						<key>image</key>
						<string>category_014</string>
						<key>id</key>
						<string>014</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>category</key>
				<string>最新分类</string>
				<key>content</key>
				<array>
					<dict>
						<key>title</key>
						<string>苹果配件</string>
						<key>image</key>
						<string>category_020</string>
						<key>id</key>
						<string>020</string>
					</dict>
					<dict>
						<key>title</key>
						<string>数码相框</string>
						<key>image</key>
						<string>category_021</string>
						<key>id</key>
						<string>021</string>
					</dict>
					<dict>
						<key>title</key>
						<string>智能手环</string>
						<key>image</key>
						<string>category_022</string>
						<key>id</key>
						<string>022</string>
					</dict>
					<dict>
						<key>title</key>
						<string>无人机</string>
						<key>image</key>
						<string>category_023</string>
						<key>id</key>
						<string>023</string>
					</dict>
					<dict>
						<key>title</key>
						<string>存储卡</string>
						<key>image</key>
						<string>category_024</string>
						<key>id</key>
						<string>024</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>鞋帽箱包</string>
		<key>content</key>
		<array>
			<dict>
				<key>category</key>
				<string>常用分类</string>
				<key>content</key>
				<array>
					<dict>
						<key>title</key>
						<string>平板电视</string>
						<key>image</key>
						<string>category_000</string>
						<key>id</key>
						<string>000</string>
					</dict>
					<dict>
						<key>title</key>
						<string>手动工具</string>
						<key>image</key>
						<string>category_001</string>
						<key>id</key>
						<string>001</string>
					</dict>
					<dict>
						<key>title</key>
						<string>智能手机</string>
						<key>image</key>
						<string>category_002</string>
						<key>id</key>
						<string>002</string>
					</dict>
					<dict>
						<key>title</key>
						<string>插座</string>
						<key>image</key>
						<string>category_003</string>
						<key>id</key>
						<string>003</string>
					</dict>
					<dict>
						<key>title</key>
						<string>衣物洗洁</string>
						<key>image</key>
						<string>category_004</string>
						<key>id</key>
						<string>004</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>category</key>
				<string>热门分类</string>
				<key>content</key>
				<array>
					<dict>
						<key>title</key>
						<string>平板电脑</string>
						<key>image</key>
						<string>category_010</string>
						<key>id</key>
						<string>010</string>
					</dict>
					<dict>
						<key>title</key>
						<string>游戏本</string>
						<key>image</key>
						<string>category_011</string>
						<key>id</key>
						<string>011</string>
					</dict>
					<dict>
						<key>title</key>
						<string>耳机耳麦</string>
						<key>image</key>
						<string>category_012</string>
						<key>id</key>
						<string>012</string>
					</dict>
					<dict>
						<key>title</key>
						<string>手机</string>
						<key>image</key>
						<string>category_013</string>
						<key>id</key>
						<string>013</string>
					</dict>
					<dict>
						<key>title</key>
						<string>连衣裙</string>
						<key>image</key>
						<string>category_014</string>
						<key>id</key>
						<string>014</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>category</key>
				<string>最新分类</string>
				<key>content</key>
				<array>
					<dict>
						<key>title</key>
						<string>苹果配件</string>
						<key>image</key>
						<string>category_020</string>
						<key>id</key>
						<string>020</string>
					</dict>
					<dict>
						<key>title</key>
						<string>数码相框</string>
						<key>image</key>
						<string>category_021</string>
						<key>id</key>
						<string>021</string>
					</dict>
					<dict>
						<key>title</key>
						<string>智能手环</string>
						<key>image</key>
						<string>category_022</string>
						<key>id</key>
						<string>022</string>
					</dict>
					<dict>
						<key>title</key>
						<string>无人机</string>
						<key>image</key>
						<string>category_023</string>
						<key>id</key>
						<string>023</string>
					</dict>
					<dict>
						<key>title</key>
						<string>存储卡</string>
						<key>image</key>
						<string>category_024</string>
						<key>id</key>
						<string>024</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
